# Editor-based HTTP Client requests
.idea/**/httpRequests/

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/codeStyles

# Other
**/.DS_Store
