body {
	background-color: lightgray;
	max-width: 100vw;
}

nav {
	max-width: 100vw;
	box-shadow: 0 0 10px gray;
}

.site-footer {
	background-color: #222222;
	margin: 10px 0px 0px 0px;
	color: white;
	width: 100%;
	padding: 5vh 10vw;
	box-shadow: 0 0 10px #222222;
}

.panel-video {
	margin: auto;
	width: 60%;
	margin-bottom: 25px;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.top-margin-lg {
	margin-top: 80px;
}

.top-margin-sm {
	margin-top: 30px;
}

.site-panel {
	margin: 10px 0px 0px 0px;
	padding: 5px;
	box-shadow: 0 0 10px gray;
}

.site-util {
	margin: 15px 0px 0px 0px;
}

.discord-embed {
	width: 100%;
	height: 500px
}