body {
	background-color: lightgray;
	max-width: 100vw;
}

nav {
	max-width: 100vw;
	box-shadow: 0 0 10px gray;
}

.site-footer {
	background-color: #222222;
	margin: 10px 0px 0px 0px;
	color: white;
	width: 100%;
	padding: 5vh 10vw 4vh 5vw;
	box-shadow: 0 0 10px #222222;
}

.footer-link-light {
	color: lightgray;
	text-decoration: none;
}

.footer-link-light:hover {
	color: white;
	text-decoration: none;
}

.footer-link {
	color: gray;
	text-decoration: none;
}

.footer-link:hover {
	color: lightgray;
	text-decoration: none;
}

.panel-video {
	margin: auto;
	width: 80%;
	margin-bottom: 25px;
}

.margin-pos {
	margin: auto;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.calendar {
	position: relative;
	padding-bottom: 75%;
	height: 0;
}

.calendar iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.poster {
	position: relative;
	width: 100%;
	height: auto;
}

.discord-card {
	border-color: #7289DA;
}

.discord-card h4 {
	background-color: #7289DA;
}

.discord-card a {
	background-color: #7289DA;
	color: white;
}

.top-margin-lg {
	margin-top: 80px;
}

.top-margin-sm {
	margin-top: 30px;
}

.side-margin {
	margin: 0px 30px;
}

.site-panel {
	margin-top: 10px;
	padding: 5px;
	box-shadow: 0 0 10px gray;
}

.site-util {
	margin-top: 15px;
}

.discord-embed {
	width: 100%;
	height: 500px
}