<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>VikingsDev</title>
    <link href="https://vikingsdev.ca/asset-package/logo-color.svg" rel="shortcut icon">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">

    <!--link styling-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>


<body menu-state="closed" style="background-color: #1E2124;">

<!--allows for menu overlay and background-->
<header class="header header--animate-in " style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; transition-delay: 0ms;">
    <div class="header__inner">
        <div class="header__logo-wrap" data-nav-link="1">
            <a class="header__logo" href="/">
                <!--logo here TODO: make this local to this project-->
                <img src="https://vikingsdev.ca/asset-package/logo-color.svg" style="width:80px;height:80px;">
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item" data-nav-link="2">
                    <a href="about" style="text-decoration: none">About</a>
                </li>
                <li class="header__nav-item" data-nav-link="3">
                    <a href="events" style="text-decoration: none">Events</a>
                </li>
                <li class="header__nav-item" data-nav-link="4">
                    <a href="bounties" style="text-decoration: none">Bounties</a>
                </li>
                <li class="header__nav-item" data-nav-link="5">
                    <a href="workshops" style="text-decoration: none">Workshops</a>
                </li>
                <li class="header__nav-item" data-nav-link="6">
                    <a href="contact" style="text-decoration: none">Contact</a>
                </li>
            </ul>
            <button class="header__burger allow-hover" id="burger">
                <span class=""></span>
                <span class=""></span>
                <span class=""></span>
            </button>
        </nav>
    </div>
    </div>
</header>


<div class="site-menu">
    <div class="site-menu__bg" style="background-color: #6883DA;"></div>
    <aside class="site-menu__info-slogan">
        <p class="site-menu__slogan">
            Don't know why it isn't working on mobile :(
        </p>
    </aside>
    <div class="site-menu__container">
        <nav class="site-menu__nav">
            <ul class="site-menu__nav-list">
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="/" style="text-decoration: none;color:white;">Home</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="about" style="text-decoration: none;color:white;">About</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="events" style="text-decoration: none;color:white;">Events</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="bounties" style="text-decoration: none;color:white;">Bounties</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="workshops" style="text-decoration: none;color:white;">Workshops</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="contact" style="text-decoration: none;color:white;">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<main class="main" id="barba-wrapper">
    <div class="barba-container" style="visibility: visible;">
        <!--header banner-->
        <!--create div class with padding for main content-->
        <div class="container-fluid site-content">

            <!--title area-->
            <h1 class="pl-5"><!--hero-banner-text-->[Page Title Here]</h1>

            <!--main content-->
            <div class="row p-2">
                <div class="col-md">
                    <p class="font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at aut culpa debitis deserunt dolorum exercitationem
                        explicabo, facere fugiat
                        ipsa itaque iure molestias nulla officia officiis placeat quae sint, vero!</p>
                </div>

                <div class="col-md">
                    <p class="font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam delectus ea illo ipsum laborum nemo quas
                        voluptatibus. Autem
                        consectetur cumque iure officia voluptatum. Atque blanditiis commodi, itaque quia reprehenderit ut?</p>
                </div>
            </div>

        </div>
    </div>
</main>

<div class="background-fill" id="background-fill">
    <span style="opacity: 0;"></span>
    <span style="background-color: #1E2124;"></span>
</div>

<!--scripts-->
<script src="js/navbarScripts.js"></script>

</body>
</html>