<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>VikingsDev</title>
    <link href="https://vikingsdev.ca/asset-package/logo-color.svg" rel="shortcut icon">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

    <!--link styling-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
</head>


<body menu-state="closed" style="background-color: #1E2124;">
<!--allows for menu overlay and background-->


<header class="header header--animate-in" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; transition-delay: 0ms;">
    <div class="header__inner">
        <div class="header__logo-wrap" data-nav-link="1">
            <a class="header__logo" href="/">
                <!--logo here-->
                <img src="https://vikingsdev.ca/asset-package/logo-color.svg" style="width:60px;height:60px;">
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item" data-nav-link="2">
                    <a href="about" style="text-decoration: none">About</a>
                </li>
                <li class="header__nav-item" data-nav-link="3">
                    <a href="events" style="text-decoration: none">Events</a>
                </li>
                <li class="header__nav-item" data-nav-link="4">
                    <a href="bounties" style="text-decoration: none">Bounties</a>
                </li>
                <li class="header__nav-item" data-nav-link="5">
                    <a href="workshops" style="text-decoration: none">Workshops</a>
                </li>
                <li class="header__nav-item" data-nav-link="6">
                    <a href="contact" style="text-decoration: none">Contact</a>
                </li>
            </ul>
            <button class="header__burger allow-hover" id="burger">
                <span class=""></span>
                <span class=""></span>
                <span class=""></span>
            </button>
        </nav>
    </div>
</header>


<div class="site-menu">
    <div class="site-menu__bg" style="background-color: #6883DA;"></div>
    <aside class="site-menu__info-slogan">
        <p class="site-menu__slogan">
            Don't know why it isn't working on mobile :(
        </p>
    </aside>
    <div class="site-menu__container">
        <nav class="site-menu__nav">
            <ul class="site-menu__nav-list">
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="/" style="text-decoration: none;color:white;">Home</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="about" style="text-decoration: none;color:white;">About</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="events" style="text-decoration: none;color:white;">Events</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="bounties" style="text-decoration: none;color:white;">Bounties</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="workshops" style="text-decoration: none;color:white;">Workshops</a>
                </li>
                <li class="site-menu__nav-item">
                    <a class="site-menu__nav-link" href="contact" style="text-decoration: none;color:white;">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<main class="main" id="barba-wrapper">
    <div class="barba-container" style="visibility: visible;">

      <div style="background-color:black">
        <div class="container p-5 ">
          <h1 class="mb-0 pb-0" style="font-size:8em">ABOUT</h1>
          <nav class="navbar navbar-expand-lg m-0 p-0" style="margin:0;padding:0;">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav navbar-left">
                <li class="nav-item active mr-4">
                  <a href="about.html" class="active-link">
                    OUR TEAM
                  </a>
                </li>
                <li class="nav-item mr-4">
                  <a href="aboutmissions.html">
                    OUR MISSIONS
                  </a>
                </li>
                <li class="nav-item mr-4">
                  <a href="aboutactions.html">
                    OUR ACTIONS
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="mb-5">
            <h6>Meet the people behind VikingsDev.</h6>
          </div>
          <div class="row" style="margin-bottom:5em;" id="demo" class="collapse">
            <div class="col-lg">
              <a href="#demo" data-toggle="collapse"><span class="dot"></span></a>

            </div>
            <div class="col-lg">
              <span class="dot"></span>
            </div>
            <div class="col-lg">
              <span class="dot"></span>
            </div>
            <div class="col-lg">
              <span class="dot"></span>
            </div>
          </div>


        </div>
      </div>
        <div class="wave">
          <img src="wave.png" width="100%">
        </div>


    </div>
</main>



<div class="background-fill" id="background-fill">
    <span style="opacity: 0;"></span>
    <span style="background-color: #1E2124;"></span>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="../js/navbarScripts.js"></script>

</body>
</html>
